# API

API__TITLE=Datagateway API
API__DESCRIPTION=This is the API for the Datagateway
API__URL_PREFIX=/
API__RELOAD=true
API__HOST=127.0.0.1
API__PORT=5000

API__ALLOWED_CORS_HEADERS=["*"]
API__ALLOWED_CORS_ORIGINS=["*"]
API__ALLOWED_CORS_METHODS=["*"]

# DataGateway API

DATAGATEWAY_API__EXTENSION=/datagateway-api
DATAGATEWAY_API__CLIENT_CACHE_SIZE=5
DATAGATEWAY_API__CLIENT_POOL_INIT_SIZE=2
DATAGATEWAY_API__CLIENT_POOL_MAX_SIZE=5
DATAGATEWAY_API__ICAT_URL=http://icat_payara_container:8080
DATAGATEWAY_API__ICAT_CHECK_CERT=false

DATAGATEWAY_API__USE_READER_FOR_PERFORMANCE__ENABLED=false
DATAGATEWAY_API__USE_READER_FOR_PERFORMANCE__READER_MECHANISM=simple
DATAGATEWAY_API__USE_READER_FOR_PERFORMANCE__READER_USERNAME=reader
DATAGATEWAY_API__USE_READER_FOR_PERFORMANCE__READER_PASSWORD=readerpw
DATAGATEWAY_API__USE_READER_FOR_PERFORMANCE__MAXSIZE=128
DATAGATEWAY_API__USE_READER_FOR_PERFORMANCE__TTL=600

# Search API

SEARCH_API__EXTENSION=/search-api
SEARCH_API__ICAT_URL=http://icat_payara_container:8080
SEARCH_API__ICAT_CHECK_CERT=false
SEARCH_API__MECHANISM=anon
SEARCH_API__USERNAME=
SEARCH_API__PASSWORD=

SEARCH_API__SEARCH_SCORING__ENABLED=false
SEARCH_API__SEARCH_SCORING__API_URL=http://localhost:9000/score
SEARCH_API__SEARCH_SCORING__API_REQUEST_TIMEOUT=5
SEARCH_API__SEARCH_SCORING__GROUP=documents
SEARCH_API__SEARCH_SCORING__LIMIT=1000

# Test

TEST__MECHANISM=simple
TEST__USER_CREDENTIALS__USERNAME=root
TEST__USER_CREDENTIALS__PASSWORD=pw