# .flake8
[flake8]
select = A,B,B9,BLK,C,E,F,I,N,S,W
ignore = E203,W503,E501
max-complexity = 17
max-line-length = 80
application-import-names = datagateway_api,test,util
import-order-style = google
per-file-ignores =
  test/*: S101
  util/icat_db_generator.py: S311
  datagateway_api/wsgi.py:E402,F401
  datagateway_api/common/database/models.py: N815,A003
enable-extensions=G
