{
  "backend": "db",
  "DB_URL": "mysql+pymysql://root:rootpw@localhost:13306/icatdb",
  "ICAT_URL": "https://localhost.localdomain:8181",
  "icat_check_cert": false,
  "log_level": "WARN",
  "log_location": "/home/user1/datagateway-api/logs.log",
  "debug_mode": false,
  "generate_swagger": false,
  "host": "127.0.0.1",
  "port": "5000",
  "test_username": "root",
  "test_password": "pw",
  "test_mechanism": "simple"
}
