[tool.poetry]
name = "datagateway-api"
version = "5.1.1"
description = "ICAT API to interface with the DataGateway"
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/ral-facilities/datagateway-api"
repository = "https://github.com/ral-facilities/datagateway-api"
authors = ["Matthew Richards <matthew.richards@stfc.ac.uk>"]

[tool.semantic_release]
version_toml = [
    "pyproject.toml:tool.poetry.version"
]
branch = "main"
upload_to_pypi = false
upload_to_release = true
build_command = "pip install poetry==1.1.9 && poetry build"

[tool.poetry.dependencies]
python = ">=3.6.1,<4.0"
Flask-RESTful = "^0.3.7"
SQLAlchemy = "^1.3.8"
PyMySQL = "1.0.2"
Flask-Cors = "3.0.9"
apispec = "3.3.0"
flask-swagger-ui = "3.25.0"
PyYAML = "5.4"
python-icat = "0.21.0"
suds-community = "^0.8.4"
py-object-pool = "^1.1"
cachetools = "^4.2.1"
Flask-SQLAlchemy = "^2.4.4"
requests = "^2.25.1"
python-dateutil = "^2.8.1"
pydantic = "^1.8.2"

[tool.poetry.dev-dependencies]
pip-tools = "5.3.1"
Faker = "8.5.1"
black = "19.10b0"
flake8 = "^3.8.4"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^20.1.4"
flake8-import-order = "^0.18.1"
flake8-builtins = "^1.5.3"
flake8-broken-line = "^0.3.0"
flake8-commas = "^2.0.0"
flake8-comprehensions = "^3.3.0"
flake8-logging-format = "^0.6.0"
pep8-naming = "^0.11.1"
pytest = "^6.1.2"
coverage = {extras = ["toml"], version = "^5.3"}
pytest-cov = "^2.10.1"
pytest-icdiff = "^0.5"
python-semantic-release = "^7.19.2"
coverage-conditional-plugin = "^0.5.0"
safety = "^2.2.0"
flake8-black = "0.2.4"

[tool.poetry.scripts]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.paths]
source = ["datagateway_api"]

[tool.coverage.run]
branch = true
source = ["datagateway_api"]
plugins = ["coverage_conditional_plugin"]
omit = [
    "*api_start_utils.py",
    "*logger_setup.py",
    "*main.py",
    "*wsgi.py",
]

[tool.coverage.coverage_conditional_plugin.rules]
py-37-code = "sys_version_info > (3, 6)"

[tool.coverage.report]
show_missing = true
